<div id="title_container">
   <h1>Auto Andy <span>Photo</span></h1>
   <div id="app_info_container">Created by <a href="http://www.nocircleno.com" target="_blank">Ben Rhodes</a> | In collaboration with <a href="http://www.andyandyandy.com" target="_blank">Andy Detskas</a></div>
</div>
<div id="menu_button_container">
    <button id="add_andy_button" class="add_andy_mask_mode_off">+ Andy</button>
    <button id="mask_button" class="mask_button_mask_mode_off">Mask</button>
    <div id="mask_options_container">
       <span>{</span> <div id="ink_mode_buttons_container">
           <label>Ink Mode</label>
           <button id="add_mask_button" class="activeSubButton">Add</button>
           <button id="erase_mask_button">Erase</button>
       </div>
       <div id="bush_size_container">
         <label>Brush Size</label>
       </div>
       <button id="clear_work_button">Clear</button>
       <span>|</span>
    </div>
    <button id="share_work_button">Share</button>
</div>
