<div id="share_container">
    <div id="paper_work">
        <input id="photo_title" type="text" placeholder="Photo Title" autofocus="true" />
        <div id="share_ui_container">
            <button id="share_it_button">Share it!</button>
            <button id="cancel_share_button">Cancel</button>
        </div>
    </div>
    <canvas id="composition" width="{{canvasWidth}}" height="{{canvasHeight}}"></canvas>
</div>
<div id="loading_container">
    <div>Cutting you a share!</div>
    <img src="images/loader.gif"/>
</div>
<div id="shared_link_container">
    <h3>Your photo awaits you!</h3>
    <div id="shared_link"></div>
    <button id="close_overlay">Close</button>
</div>
<div id="overlay"></div>
