<link href='http://fonts.googleapis.com/css?family=Kavoon' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="styles/unsupported.css">
<h1>Auto Andy <span>Photo</span></h1>
<p>Ok, I know this is a lame excuse ... but the device, browser or whale that landed you here isn't currently working with this app. Here is a nice little video of Auto Andy Photo in motion.</p>
<iframe width="640" height="360" id="video_frame" src="http://www.youtube.com/embed/7k683maN9NM" frameborder="0" allowfullscreen></iframe>
<p>This thing should work in the newest versions of <span>Google Chrome</span>, <span>Firefox</span> or <span>Safari</span>.</p>
<p id="app_info">Auto Andy Photo created by <a href="http://www.nocircleno.com">Ben Rhodes</a> | In collaboration with <a href="http://www.andyandyandy.com">Andy Detskas</a></p>
